<header>
    <div class="container">

        <!-- BEGIN NAVIGATION -->
        <nav class="navbar custom-nav" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="" style="width:50px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="custom-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="selected" routerLink = "/heroes">Characters</a></li>
                    <!-- <li><a >Works</a></li>
                    <li><a >Blog</a></li>
                    <li><a >Contact</a></li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>

    <!-- BEGIN Home Slider -->
    <div id="home-slider1">
        <ul id="slides">
            <!-- Slide 1. -->
            <li>
                <div class="bg-image bg1"></div>
                <div class="overlay color-1"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1 class="snma">STAR WARS: GALAXY OF HEROES - THE ROAD AHEAD</h1>
                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        
    </div>
    <!-- END Home Slider -->

    <!-- Begin Slogan -->
  
</header>