<footer>
    <div class="row">
        <div class="col-sm-6 col-xs-12 footer-share">
            <p>Show some love...</p>

            <!-- Facebook Like button -->
            

            <!-- Twitter Share button -->
            <a  class="twitter-share-button" data-via="nemos_">Tweet</a>
        </div>

        <div class="col-sm-6 col-xs-12 footer-info">
            <p>my | Copyright © 2020.</p>
            <p class="to-top">Back to Top<a href="#">&nbsp;</a></p>
        </div>
    </div>
</footer>